---
import Layout from 'src/layouts/Layout.astro';
import Header from '@components/Header.astro';
const props = Astro.props;
import Footer from '@components/Footer.astro';
import Loader from '@components/Loader.astro';
import Modal from '@components/Modal.astro';
import Courses from '@components/Courses.astro';
import Hero from '@components/Hero.astro';
import Accordian from '@components/Accordian.astro';
import Testimonials from '@components/Testimonials.astro';
import Faq from '@components/Faq.astro';
import OtherCourses from '@components/OtherCourses.astro';

// import client from '../../tina/__generated__/client';
// const portfolioData = await client.queries.portfolio_section({ relativePath: 'portfolio.json' });
// import img3 from '../assets/Images/new_images/image1.jpg';
// import { tinaField } from 'tinacms/dist/react';
---

<Layout title="GRE">
  <Modal />
  <Hero />
  <div class="separator"></div>

  <Courses />
  <div>
    <div class="horizontal-pattern"></div>
  </div>
  <Accordian />
  <Testimonials />
  <Faq />
  <OtherCourses />

  <Footer />
  <script>
    const openModalButtons = document.querySelectorAll('.open-modal'),
      modal = document.querySelector('.modal'),
      closeModalButtons = document.querySelectorAll('.close-modal');

    openModalButtons.forEach((openBtn) => {
      console.log('asdsa');
      openBtn.addEventListener('click', openModal);
    });

    closeModalButtons.forEach((closeBtn) => {
      closeBtn.addEventListener('click', closeModal);
    });

    function openModal() {
      modal.classList.add('visible');
    }

    function closeModal() {
      modal.classList.remove('visible');
    }
  </script>
</Layout>
