<div class="section">
  <div class="container w-container">
    <div class="split">
      <div
        id="w-node-_6e40a16f-0762-9faf-ba89-6aabfe4cf785-2f1baa25"
        data-w-id="6e40a16f-0762-9faf-ba89-6aabfe4cf785"
        style="
              opacity: 0;
              -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
            "
        class="spread-vertical"
      >
        <h2 class="limit">Here's What You Can Expect When You Sign Up for Our GRE Preparation Course:</h2>
        <!-- <div class="reviews-widget limit-small">
            <img src="images/6377a80addc4bf1c7db1449c_stars.svg" loading="lazy" alt="" />
            <div class="quote-text">
              "The instructors' expertise and the hands-on approach allowed me to explore and refine my skills"
            </div>
            <div>
              Rated 5/5 -<span class="light-text"> from 40 reviews</span>
            </div>
          </div> -->
      </div>
      <div id="w-node-_2418f409-7077-d19d-fe60-e90243647ae9-2f1baa25" class="steps-wrapper">
        <div
          id="w-node-_9eb40f8f-7b8e-53d7-b3fc-93a8b85a92e8-2f1baa25"
          data-w-id="9eb40f8f-7b8e-53d7-b3fc-93a8b85a92e8"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="single-step-wrapper"
        >
          <div id="w-node-b9af8508-efbf-f7ea-a0fa-e8bb5904e83e-2f1baa25" class="relative">
            <div class="large-text place-above">01</div>
            <img src="images/6377a80a25cdcb05774cfc12_circle.svg" loading="lazy" alt="" class="absolute-circle" />
          </div>
          <h3 id="w-node-_5d6d3793-fbed-b286-1cf7-176a68488b76-2f1baa25" class="no-space-bottom">Learn</h3>
          <div id="w-node-_5c01c6a7-af9d-0509-96e7-a1606f166701-2f1baa25" class="medium-text">
            Benefit from experienced instructors specializing in GRE coaching, offering insights and personalized tips
            for each exam section.
          </div>
          <div id="w-node-f08f47b3-f22b-cf55-5515-12f8b8e53469-2f1baa25" class="dotted-separator"></div>
        </div>
        <div
          id="w-node-a4808f95-e506-2a60-fee2-d3febc9ba867-2f1baa25"
          data-w-id="a4808f95-e506-2a60-fee2-d3febc9ba867"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="single-step-wrapper"
        >
          <div id="w-node-a4808f95-e506-2a60-fee2-d3febc9ba871-2f1baa25" class="relative">
            <div class="large-text">02</div>
          </div>
          <h3 id="w-node-a4808f95-e506-2a60-fee2-d3febc9ba874-2f1baa25" class="no-space-bottom">Progress</h3>
          <div id="w-node-a4808f95-e506-2a60-fee2-d3febc9ba876-2f1baa25" class="medium-text">
            Enhance your abilities in GRE sections - Verbal Reasoning, Quantitative Reasoning, and Analytical Writing -
            with structured practice and expert guidance.
          </div>
          <div id="w-node-a4808f95-e506-2a60-fee2-d3febc9ba878-2f1baa25" class="dotted-separator"></div>
        </div>
        <div
          id="w-node-f2d30824-fe82-bc50-802f-20ede3450870-2f1baa25"
          data-w-id="f2d30824-fe82-bc50-802f-20ede3450870"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="single-step-wrapper"
        >
          <div id="w-node-f2d30824-fe82-bc50-802f-20ede3450882-2f1baa25" class="relative">
            <div class="large-text">03</div>
            <img
              src="images/6377a80a66acb084e74e7129_lines3.svg"
              loading="lazy"
              alt=""
              class="yellow-lines-highlight"
            />
          </div>
          <h3 id="w-node-f2d30824-fe82-bc50-802f-20ede3450886-2f1baa25" class="no-space-bottom">Apply</h3>
          <div id="w-node-f2d30824-fe82-bc50-802f-20ede3450888-2f1baa25" class="medium-text">
            Participate in realistic practice tests, receive detailed score reports, and refine your test-taking
            techniques to excel in the exam.
          </div>
          <div id="w-node-f2d30824-fe82-bc50-802f-20ede345088a-2f1baa25" class="dotted-separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
