<div class="section gray">
  <div class="container w-container">
    <div class="split">
      <div id="w-node-a3eb2c54-9b68-5744-6a31-89fab04cda2b-2f1baa25" class="spread-vertical">
        <div
          data-w-id="e47bc48b-4c5f-0505-2e27-8229d06e102f"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="limit-small"
        >
          <h2 class="blue-text h5">Reach out</h2>
          <div class="relative">
            <img src="images/6377a80b8dbc35650d1bff4f_lines%202.svg" loading="lazy" alt="" class="scribble-lines-2" />
            <h2>
              Explore Our Range of

              <span class="brush-underline blue">Specialized Courses</span><span class="brush-underline blue"></span>
            </h2>
          </div>
          <div class="medium-text">
            Explore our diverse range of courses today and take the first step towards achieving your goals.
          </div>
        </div>
        <!-- <a href="/courses" class="black-button w-button">Courses</a> -->
      </div>
      <div id="w-node-_784817bf-28a2-0182-360d-ae8681f4b07f-2f1baa25" class="split less-space">
        <div
          id="w-node-_6f364c10-6e3b-e3ea-6e05-c9d528c36425-2f1baa25"
          data-w-id="6f364c10-6e3b-e3ea-6e05-c9d528c36425"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="feature-card"
        >
          <!-- <div class="black-circle">
              <img src="images/6377a80b24da1926e384c9fa_Vector%203.png" loading="lazy" width="40" alt="" />
            </div> -->
          <div>
            <img src="images/spotlight/graphic-design-school-digital-arts.jpg" class="cardimg" loading="lazy" alt="" />

            <h3 class="h4 mt-10">GMAT Preparation Course</h3>
            <p class="opacity-black-text">
              Prepare for the GMAT exam with confidence through Sierra's comprehensive course. Master test strategies,
              enhance your analytical skills, and achieve your target GMAT score.
            </p>
            <!-- <a href="/about-as" class="blue-text">Learn more</a> -->
          </div>
        </div>
        <!-- <div id="w-node-e93a37ae-e0fd-2853-df52-e7bc1265e9ef-2f1baa25"
            data-w-id="e93a37ae-e0fd-2853-df52-e7bc1265e9ef" style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              " class="feature-card black">
            <div class="yellow-circle">
              <img src="images/6377a80b65ea1837a2bb4bd7_Hexagonal%20Pattern%201.png" loading="lazy" width="40" alt="" />
            </div>
            <div>
              <h3 class="h4">GRE </h3>
              <p class="opacity-white-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing.
              </p>
              <a href="/about-as" class="yellow-text">Learn more</a>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
