<section class="section faq">
  <div class="container">
    <div class="faq-content-wrap">
      <div class="section-title-wrap" style="opacity: 0">
        <div class="mini-title-flex-wrap center">
          <div class="mini-title-border"></div>
          <div class="mini-title-text">questions</div>
          <div class="mini-title-border"></div>
        </div>
        <h2 class="section-title">Frequently Asked Questions</h2>
        <!-- <p class="section-details blog-v1">
            Check back our courses for new lessons on your favorite
            technologies and techniques with multiple of the education type.
          </p> -->
      </div>
      <div class="faq-accordions-wrapper">
        <div class="single-accordion-wrap" style="background-color: rgb(255, 255, 255); opacity: 0">
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              1. Is this course suitable for beginners in GMAT preparation?
            </h5>
            <div class="faq-icon-wrap">
              <img
                width="50"
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
              <img
                width="50"
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Yes, our course caters to all levels, from beginners to experienced test-takers. We provide foundational
              concepts and advanced strategies to meet each student's needs.
            </p>
          </div>
        </div>
        <div class="single-accordion-wrap" style="background-color: rgb(255, 255, 255); opacity: 0">
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              2. Do I need any prior knowledge of the GMAT test format?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              No prior knowledge is required. We cover everything from the basics of the GMAT test format to advanced
              strategies for each section.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              3. How will this course help me achieve my target GMAT score for business school admission?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Our course focuses on improving your skills and strategies in all GMAT sections to help you achieve your
              target score. We provide personalised feedback and targeted practice to address your areas of improvement.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              4. How does this course address the analytical writing assessment (AWA) section of the GMAT?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              We provide guidance and practice exercises specifically tailored for the GMAT's AWA section, helping you
              develop strong analytical writing skills and craft effective essays within the given time constraints.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              5. What support is available if I have questions during the course?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Our instructors are available to assist you with any questions or concerns throughout the course duration.
              You can reach out to them via email, participate in live Q&A sessions, and engage with other students in
              our online community.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              6. How does the course address time management during the GMAT exam?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Our course includes strategies and practice exercises focused on time management skills. You will learn
              techniques to effectively allocate time to different sections of the exam, prioritise questions, and
              maintain a steady pace throughout the test.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              7. How soon can I expect to see improvements in my GMAT scores after starting the course?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              The rate of improvement varies for each student based on their starting point, dedication, and consistency
              in studying. However, many students report noticeable improvements in their GMAT scores within a few weeks
              of starting the course, especially with focused practice and guidance from instructors.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              8. Can graphic design skills benefit my career, even if I'm not in a design-related field?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely! Graphic design skills are highly transferable and can enhance your career in various
              industries. From marketing and advertising to content creation and digital media, having design skills can
              open up new opportunities and make you more versatile in your profession
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              9. Do I receive a certificate upon completing the course?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Yes, upon successfully completing the course requirements and projects, you will receive a certificate of
              completion, which can be a valuable addition to your portfolio.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              10. Will I be able to create professional-quality designs after completing the course?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely! By the end of the course, you'll have the skills and confidence to produce professional-level
              designs. Our curriculum focuses on practical projects that mimic real-world scenarios, ensuring you're
              ready for any design challenge.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
