<section class="section faq">
  <div class="container">
    <div class="faq-content-wrap">
      <div class="section-title-wrap" style="opacity: 0">
        <div class="mini-title-flex-wrap center">
          <div class="mini-title-border"></div>
          <div class="mini-title-text">questions</div>
          <div class="mini-title-border"></div>
        </div>
        <h2 class="section-title">Frequently Asked Questions</h2>
        <!-- <p class="section-details blog-v1">
            Check back our courses for new lessons on your favorite
            technologies and techniques with multiple of the education type.
          </p> -->
      </div>
      <div class="faq-accordions-wrapper">
        <div class="single-accordion-wrap" style="background-color: rgb(255, 255, 255); opacity: 0">
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              1. Is this course suitable for beginners in GRE preparation?
            </h5>
            <div class="faq-icon-wrap">
              <img
                width="50"
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
              <img
                width="50"
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Yes, our course caters to all levels of GRE preparation, from beginners to experienced test-takers. We
              provide comprehensive content and personalised guidance to meet each student's needs.
            </p>
          </div>
        </div>
        <div class="single-accordion-wrap" style="background-color: rgb(255, 255, 255); opacity: 0">
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              2. How does the course address time management during the GRE exam?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Our course includes strategies and practice exercises focused on time management skills. You will learn
              techniques to effectively allocate time to different sections of the exam, prioritise questions, and
              maintain a steady pace throughout.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              3. Will I receive guidance on improving my analytical writing skills for the GRE?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely, our course includes targeted lessons and practice exercises specifically designed to enhance
              your analytical writing skills for the GRE's Analytical Writing section. You'll learn how to structure
              essays, analyse prompts, and articulate arguments effectively.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              4. What kind of feedback will I receive on my practice tests and assignments?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              You will receive detailed performance feedback on your practice tests and assignments, focusing on
              strengths, weaknesses, areas for improvement, and specific strategies to enhance your scores in each GRE
              section.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              5. What support is available for improving vocabulary and reading comprehension skills for the Verbal
              Reasoning section?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              We offer resources and strategies specifically targeted at improving vocabulary and reading comprehension
              skills required for the Verbal Reasoning section of the GRE. You'll learn effective methods for building
              vocabulary, understanding complex texts, and answering comprehension questions accurately.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
