<div class="footer-section">
  <div class="container w-container">
    <div class="footer-content-wrap">
      <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba2221-19ba221e" class="limit-2">
        <div class="yonko-logo-elements">
          <img src="images/cllogo.jpeg" class="logo-h" width="200" loading="lazy" alt="" />
        </div>
        <div class="w-form">
          <!-- <form id="wf-form-Newsletter" name="wf-form-Newsletter" data-name="Newsletter" method="get"
            class="newsletter-form footer" data-wf-page-id="6377a5612c8a5c1b2f1baa25"
            data-wf-element-id="c6fcdf20-f96c-7c86-2332-1f8f19ba2227">
            <input class="input-field footer w-input" maxlength="256" name="Email-4" data-name="Email 4"
              placeholder="Your email" type="email" id="Email-4" required="" /><input type="submit"
              data-wait="Please wait..." class="white-button w-button" value="Subscribe " />
          </form> -->
        </div>
      </div>
      <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba2232-19ba221e" class="footer-columns">
        <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba2233-19ba221e" class="footer-link-column">
          <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba2234-19ba221e" class="footer-column-titile white">
            Company
          </div>
          <a
            href="/"
            id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba2236-19ba221e"
            aria-current="page"
            class="footer-link w-inline-block w--current"
          >
            <h5 class="no-space-bottom white-text">Landing</h5>
          </a>
          <a
            href="/courses"
            id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba2239-19ba221e"
            class="footer-link w-inline-block"
          >
            <h5 class="no-space-bottom white-text">Courses</h5>
          </a>
          <!-- <a href="/teachers" id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba223c-19ba221e"
            class="footer-link w-inline-block">
            <h5 class="no-space-bottom white-text">Teachers</h5>
          </a> -->
          <!-- <a href="/blog" id="w-node-_8b9fc89f-27ca-f235-7936-8c7752fc778e-19ba221e"
            class="footer-link w-inline-block">
            <h5 class="no-space-bottom white-text">Blog</h5>
          </a> -->
        </div>
        <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba224b-19ba221e" class="footer-link-column">
          <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba224c-19ba221e" class="footer-column-titile white">
            Get in touch
          </div>
          <a
            href="/contact"
            id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba224e-19ba221e"
            class="footer-link w-inline-block"
          >
            <h5 class="no-space-bottom white-text">Contact</h5>
          </a><a
            href="/about-as"
            id="w-node-_7885b8cc-6b74-bf92-0e92-307ffeff2c61-19ba221e"
            class="footer-link w-inline-block"
          >
            <h5 class="no-space-bottom white-text">About us</h5>
          </a>
          <div class="social-logos-wrap">
            <a href="#" class="social-logo w-inline-block"
              ><img src="images/6377d1a1e0b2ef611a458b9b_Facebook.svg" loading="lazy" alt="" /></a
            ><a href="#" class="social-logo w-inline-block"
              ><img src="images/6377d1a1e0b2ef197a458b9c_instagram-logo.svg" loading="lazy" alt="" /></a
            ><a href="#" class="social-logo w-inline-block"
              ><img
                src="images/6377d1a1e0b2efd4e5458b9a_social-media-social-media-logo-twitter.svg"
                loading="lazy"
                alt=""
              /></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-wrap">
      <div id="w-node-c6fcdf20-f96c-7c86-2332-1f8f19ba225f-19ba221e" class="footer-bottom-content">
        <div>Powered by &nbsp;</div><br />
        <a class="white-text" href="https://Cliqbait.in">Cliqbait</a>
      </div>
    </div>
  </div>
  <div class="horizontal-pattern-2"></div>
</div>
