<style>
  .submitt {
    float: left;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10%;
  }
</style>

<div
  data-animation="default"
  data-collapse="medium"
  data-duration="100"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar w-nav"
>
  <div class="modal">
    <span class="modal-backdrop close-modal"></span>
    <div class="modal-content">
      <div class="">
        <div class="success-message" style="display: none;" role="alert" id="result">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message" style="display: none;" role="alert" id="result">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div class="modal-header">
        <h2 class="modal-title">Contact Us</h2><button class="close-modal">&times</button>
      </div>
      <div class="modal-body">
        <form class="form-main" id="contact-form" method="POST">
          <input type="hidden" name="access_key" value="fb6055c3-4d61-4c7f-8cbe-29b4b7065fee" />
          <input type="hidden" name="Course Enquiry" value="GRE" />

          <label class="custom-field">
            <input name="email" type="email" placeholder=" " required />
            <span class="placeholder">Enter Email</span>
            <!-- <span class="error-message" aria-live="polite">The email is invalid</span> -->
          </label>

          <label class="custom-field one">
            <input name="first_name" type="text" placeholder=" " required />
            <span class="placeholder">Enter Name</span>
          </label>

          <label class="custom-field two">
            <input
              placeholder=""
              pattern="[6-9]{1}[0-9]{9}"
              title="Please enter a valid 10-digit Indian phone number starting with 6, 7, 8, or 9."
              type="number"
              required
              name="mobile_number"
            />
            <span class="placeholder">Enter Phone</span>
          </label>
          <div class="modal-footer">
            <button class="submitt" type="submit"><span>Send Message</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container w-container">
    <div class="nav-content">
      <div class="navbar-split-left">
        <div id="w-node-_765219b6-a052-f2a6-6e0b-a0c26012fcb5-6012fcb1" class="navbar-left">
          <a href="/" aria-current="page" class="brand w-nav-brand w--current">
            <img width="150" class="logo-h" src="images/cllogo.jpeg" loading="lazy" alt="" />
          </a>
        </div>
        <nav
          role="navigation"
          id="w-node-_765219b6-a052-f2a6-6e0b-a0c26012fcb8-6012fcb1"
          class="nav-menu nav-link w-nav-menu"
        >
          <div
            data-hover="true"
            data-delay="300"
            data-w-id="765219b6-a052-f2a6-6e0b-a0c26012fcc7"
            class="dropdown w-dropdown"
          >
            <div class="dropdown-toggle w-dropdown-toggle">
              <div>Courses</div>
              <img
                src="images/6377a8943779ca9167a0890e_dropdown%20arrow.svg"
                loading="lazy"
                alt=""
                class="dropdown-icon"
              />
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <div>
                <a href="https://graphicdesign.sierralearningacademy.com/" class="dropdown-link w-dropdown-link"
                  >Graphic Designing</a
                >
                <a href="https://gre.sierralearningacademy.com" class="dropdown-link w-dropdown-link">GRE</a>
                <a href="https://gmat.sierralearningacademy.com" class="dropdown-link w-dropdown-link">GMAT</a>
                <a href="https://ielts.sierralearningacademy.com/" class="dropdown-link w-dropdown-link">IELTS</a>
                <a href="https://digitalmarketing.sierralearningacademy.com" class="dropdown-link w-dropdown-link"
                  >Digital Marketing</a
                >
                <a href="https://videoediting.sierralearningacademy.com" class="dropdown-link w-dropdown-link"
                  >Video Editing</a
                >
                <a href="https://hr.sierralearningacademy.com" class="dropdown-link w-dropdown-link">HR</a>
              </div>
            </nav>
          </div>
          <!-- <div data-hover="true" data-delay="300" data-w-id="765219b6-a052-f2a6-6e0b-a0c26012fcec"
              class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Template</div>
                <img src="images/6377a8943779ca9167a0890e_dropdown%20arrow.svg" loading="lazy" alt=""
                  class="dropdown-icon" />
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="/template/licensing" class="dropdown-link w-dropdown-link">Licensing</a><a
                  href="/template/styleguide" class="dropdown-link w-dropdown-link">Styleguide</a><a
                  href="/template/changelog" class="dropdown-link w-dropdown-link">Changelog</a>
              </nav>
            </div> -->
          <a href="#" class="black-button nav _1 w-button">Buy Course</a>
        </nav>
      </div>
      <!-- <div id="w-node-_765219b6-a052-f2a6-6e0b-a0c26012fcfa-6012fcb1" class="navbar-right">

          <a href="#" class="black-button nav w-button ">Book Now</a>
          <div class="menu-button w-nav-button">
            <img src="images/637d03ddbf971e9dee92be08_menu.svg" loading="lazy" alt="" />
          </div>
        </div> -->
    </div>
  </div>
</div>
<script>
  const form = document.getElementById('contact-form');
  const result = document.getElementById('result');

  form.addEventListener('submit', function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = 'Please wait...';

    fetch('https://api.web3forms.com/submit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.style.display = 'block';
          result.innerHTML = json.message;
        } else {
          // console.log(response);
          result.style.display = 'block';

          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = 'Something went wrong!';
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = 'none';
        }, 3000);
      });
  });
</script>
