<div class="section">
  <div class="container w-container">
    <div
      data-w-id="d312e9c4-660f-fcac-a4a9-cefb17113a2e"
      style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
      class="limit-small"
    >
      <h2>Other Courses</h2>
      <!-- <div class="medium-text">
          Videography and Video Editing
        </div> -->
    </div>
    <div class="space-top w-dyn-list">
      <div role="list" class="split w-dyn-items g3">
        <div role="listitem" class="w-dyn-item">
          <a href="https://videoediting.sierralearningacademy.com">
            <div
              data-w-id="627cc5f8-8377-7052-d92c-f40b1b7059d7"
              style="
                  opacity: 0;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                "
            >
              <div
                id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059d8-2f1baa25"
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                style="
                    background-image: url('images/spotlight/video-editing-services-toronto-1300x867.jpg');
                  "
                class="course-image"
              >
                <!-- <div class="price-tag">
                  <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                    $&nbsp;199.00&nbsp;USD
                  </div>
                </div> -->
              </div>
              <a href="https://videoediting.sierralearningacademy.com" class="product-card-content w-inline-block">
                <!-- <div class="course-detalis">
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059de-2f1baa25">
                    Marketing
                  </div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e0-2f1baa25" class="line-separator gray"></div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e1-2f1baa25" class="course-details">
                    <img src="images/6377bfe4e0b2ef7fbb441887_Scaler%20Academy%201.svg" loading="lazy" alt="" />
                    <div>33</div>
                    <div>Videos</div>
                  </div>
                </div> -->
                <h3 class="space-top-tiny">Videography and Video Editing</h3>
                <!-- <div class="author-widget space-top-small">
                  <img src="images/6377ee42eec282bd98c289bf_team%20member%20portrait%201.jpg" loading="lazy" width="70"
                    alt="" sizes="50px" srcset="
                        images/6377ee42eec282bd98c289bf_team%20member%20portrait%201-p-500.jpg 500w,
                        images/6377ee42eec282bd98c289bf_team%20member%20portrait%201-p-800.jpg 800w,
                        images/6377ee42eec282bd98c289bf_team%20member%20portrait%201.jpg       832w
                      " class="author-portrait blue" />
                  <div>
                    <div>James Nate</div>
                    <div class="opacity-black-text">Teacher</div>
                  </div>
                </div> -->
              </a>
            </div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item">
          <a href="https://hr.sierralearningacademy.com">
            <div
              data-w-id="627cc5f8-8377-7052-d92c-f40b1b7059d7"
              style="
                  opacity: 0;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                "
            >
              <div
                id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059d8-2f1baa25"
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                style="
                    background-image: url('images/spotlight/human-resources-concept-with-hand.jpg');
                  "
                class="course-image"
              >
                <!-- <div class="price-tag">
                  <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                    $&nbsp;199.00&nbsp;USD
                  </div>
                </div> -->
              </div>
              <a href="https://hr.sierralearningacademy.com" class="product-card-content w-inline-block">
                <!-- <div class="course-detalis">
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059de-2f1baa25">
                    Human resources
                  </div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e0-2f1baa25" class="line-separator gray"></div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e1-2f1baa25" class="course-details">
                    <img src="images/6377bfe4e0b2ef7fbb441887_Scaler%20Academy%201.svg" loading="lazy" alt="" />
                    <div>33</div>
                    <div>Videos</div>
                  </div>
                </div> -->
                <h3 class="space-top-tiny">Human resources</h3>
                <!-- <div class="author-widget space-top-small">
                  <img src="images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg" loading="lazy" width="70"
                    alt="" sizes="50px" srcset="
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-500.jpg 500w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-800.jpg 800w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg       832w
                      " class="author-portrait blue" />
                  <div>
                    <div>Sara Smith</div>
                    <div class="opacity-black-text">Teacher</div>
                  </div>
                </div> -->
              </a>
            </div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item">
          <a href="https://ielts.sierralearningacademy.com">
            <div
              data-w-id="627cc5f8-8377-7052-d92c-f40b1b7059d7"
              style="
                  opacity: 0;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                "
            >
              <div
                id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059d8-2f1baa25"
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                style="
                    background-image: url('images/spotlight/ielts.JPG');
                  "
                class="course-image"
              >
                <!-- <div class="price-tag">
                  <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                    $&nbsp;199.00&nbsp;USD
                  </div>
                </div> -->
              </div>
              <a href="https://ielts.sierralearningacademy.com" class="product-card-content w-inline-block">
                <!-- <div class="course-detalis">
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059de-2f1baa25">
                    IELTS
                  </div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e0-2f1baa25" class="line-separator gray"></div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e1-2f1baa25" class="course-details">
                    <img src="images/6377bfe4e0b2ef7fbb441887_Scaler%20Academy%201.svg" loading="lazy" alt="" />
                    <div>33</div>
                    <div>Videos</div>
                  </div>
                </div> -->
                <h3 class="space-top-tiny">IELTS</h3>
                <!-- <div class="author-widget space-top-small">
                  <img src="images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg" loading="lazy" width="70"
                    alt="" sizes="50px" srcset="
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-500.jpg 500w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-800.jpg 800w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg       832w
                      " class="author-portrait blue" />
                  <div>
                    <div>Sara Smith</div>
                    <div class="opacity-black-text">Teacher</div>
                  </div>
                </div> -->
              </a>
            </div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item">
          <a href="https://gmat.sierralearningacademy.com">
            <div
              data-w-id="627cc5f8-8377-7052-d92c-f40b1b7059d7"
              style="
                  opacity: 0;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                "
            >
              <div
                id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059d8-2f1baa25"
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                style="
                    background-image: url('images/spotlight/gmat.jpg');
                  "
                class="course-image"
              >
                <!-- <div class="price-tag">
                  <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                    $&nbsp;199.00&nbsp;USD
                  </div>
                </div> -->
              </div>
              <a href="https://gmat.sierralearningacademy.com" class="product-card-content w-inline-block">
                <!-- <div class="course-detalis">
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059de-2f1baa25">
                    Development
                  </div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e0-2f1baa25" class="line-separator gray"></div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e1-2f1baa25" class="course-details">
                    <img src="images/6377bfe4e0b2ef7fbb441887_Scaler%20Academy%201.svg" loading="lazy" alt="" />
                    <div>33</div>
                    <div>Videos</div>
                  </div>
                </div> -->
                <h3 class="space-top-tiny">GMAT</h3>
                <!-- <div class="author-widget space-top-small">
                  <img src="images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg" loading="lazy" width="70"
                    alt="" sizes="50px" srcset="
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-500.jpg 500w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-800.jpg 800w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg       832w
                      " class="author-portrait blue" />
                  <div>
                    <div>Sara Smith</div>
                    <div class="opacity-black-text">Teacher</div>
                  </div>
                </div> -->
              </a>
            </div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item">
          <a href="https://digitalmarketing.sierralearningacademy.com">
            <div
              data-w-id="627cc5f8-8377-7052-d92c-f40b1b7059d7"
              style="
                  opacity: 0;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                "
            >
              <div
                id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059d8-2f1baa25"
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                style="
                    background-image: url('images/spotlight/Business analytics.jpeg.jpg');
                  "
                class="course-image"
              >
                <!-- <div class="price-tag">
                  <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                    $&nbsp;199.00&nbsp;USD
                  </div>
                </div> -->
              </div>
              <a href="https://digitalmarketing.sierralearningacademy.com" class="product-card-content w-inline-block">
                <!-- <div class="course-detalis">
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059de-2f1baa25">
                    Development
                  </div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e0-2f1baa25" class="line-separator gray"></div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e1-2f1baa25" class="course-details">
                    <img src="images/6377bfe4e0b2ef7fbb441887_Scaler%20Academy%201.svg" loading="lazy" alt="" />
                    <div>33</div>
                    <div>Videos</div>
                  </div>
                </div> -->
                <h3 class="space-top-tiny">Digital Marketing</h3>
                <!-- <div class="author-widget space-top-small">
                  <img src="images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg" loading="lazy" width="70"
                    alt="" sizes="50px" srcset="
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-500.jpg 500w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-800.jpg 800w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg       832w
                      " class="author-portrait blue" />
                  <div>
                    <div>Sara Smith</div>
                    <div class="opacity-black-text">Teacher</div>
                  </div>
                </div> -->
              </a>
            </div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item">
          <a href="https://graphicdesign.sierralearningacademy.com">
            <div
              data-w-id="627cc5f8-8377-7052-d92c-f40b1b7059d7"
              style="
                  opacity: 0;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                "
            >
              <div
                id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059d8-2f1baa25"
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                style="
                background-image: url('images/spotlight/graphic-design-school-digital-arts.jpg');
                  "
                class="course-image"
              >
                <!-- <div class="price-tag">
                  <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                    $&nbsp;199.00&nbsp;USD
                  </div>
                </div> -->
              </div>
              <a href="https://graphicdesign.sierralearningacademy.com" class="product-card-content w-inline-block">
                <!-- <div class="course-detalis">
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059de-2f1baa25">
                    Development
                  </div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e0-2f1baa25" class="line-separator gray"></div>
                  <div id="w-node-_627cc5f8-8377-7052-d92c-f40b1b7059e1-2f1baa25" class="course-details">
                    <img src="images/6377bfe4e0b2ef7fbb441887_Scaler%20Academy%201.svg" loading="lazy" alt="" />
                    <div>33</div>
                    <div>Videos</div>
                  </div>
                </div> -->
                <h3 class="space-top-tiny">Graphic Design</h3>
                <!-- <div class="author-widget space-top-small">
                  <img src="images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg" loading="lazy" width="70"
                    alt="" sizes="50px" srcset="
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-500.jpg 500w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202-p-800.jpg 800w,
                        images/6377eed9f3d6aa0e1bf38261_team%20member%20portrait%202.jpg       832w
                      " class="author-portrait blue" />
                  <div>
                    <div>Sara Smith</div>
                    <div class="opacity-black-text">Teacher</div>
                  </div>
                </div> -->
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
