<div class="section dark with-pattern">
  <div class="container w-container">
    <div class="split">
      <h2
        id="w-node-c3dc94ce-5f33-f832-d1eb-58f01c7321b6-2f1baa25"
        data-w-id="c3dc94ce-5f33-f832-d1eb-58f01c7321b6"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
      >
        Take the First Step Toward Your

        <span class="brush-underline blue">GMAT Success!</span>
      </h2>
      <div
        id="w-node-cb48ddca-f8e7-fdc6-cb49-28bf269625ac-2f1baa25"
        data-w-id="cb48ddca-f8e7-fdc6-cb49-28bf269625ac"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
        class="contact-widget"
      >
        <div class="contant-images">
          <img
            src="images/6377a80b50bc72c25e2f07e0_Small%20portrait%201.png"
            loading="lazy"
            alt=""
            class="contact-image black black-border"
          /><img
            src="images/6377a80a8fe63b40c46efa79_Small%20portrait%202.png"
            loading="lazy"
            alt=""
            class="contact-image blue black-border"
          /><img
            src="images/6377a80b04f1b558aeee19a4_Small%20portrait%203.png"
            loading="lazy"
            alt=""
            class="contact-image yellow black-border"
          />
        </div>
        <div>
          Have any questions?
          <a href="/contact" class="contant-link">Contact us.</a>
        </div>
      </div>
    </div>
    <div class="three-column-grid space-top-extra">
      <div
        id="w-node-b0b4f3ad-d4c0-6895-3653-a7f5160cb5d2-2f1baa25"
        data-w-id="b0b4f3ad-d4c0-6895-3653-a7f5160cb5d2"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
        class="white-block"
      >
        <img src="images/6377a80addc4bf1c7db1449c_stars.svg" loading="lazy" alt="" />
        <div class="quote-text">
          "I was hesitant about taking the GMAT, but this course changed everything. The instructors' expertise and
          personalised feedback boosted my confidence, and I achieved a score that opened doors to top business
          universities. "
        </div>
        <div class="space-top">
          Rated 5/5 - <span class="light-text">from over 40 reviews</span>
        </div>
      </div>
      <div
        id="w-node-_82ee7897-ca2c-70bd-034d-c87a654af19c-2f1baa25"
        data-w-id="82ee7897-ca2c-70bd-034d-c87a654af19c"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
        class="white-block"
      >
        <img src="images/6377a80addc4bf1c7db1449c_stars.svg" loading="lazy" alt="" />
        <div class="quote-text">
          "Before this course, I struggled to manage my time during the GMAT. The practice tests and strategies taught
          here helped me optimise my approach, and I saw a significant improvement in my scores. "
        </div>
        <div class="space-top">
          Rated 5/5 - <span class="light-text">from over 40 reviews</span>
        </div>
      </div>
      <div
        id="w-node-_6c8b8259-75e5-b32c-6164-bd7c825e4b46-2f1baa25"
        data-w-id="6c8b8259-75e5-b32c-6164-bd7c825e4b46"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
        class="white-block"
      >
        <img src="images/6377a80addc4bf1c7db1449c_stars.svg" loading="lazy" alt="" />
        <div class="quote-text">
          "The GMAT's integrated reasoning section was challenging for me, but the course's strategies and practice
          tests gave me the confidence to tackle it effectively. Thank you to the instructors for their guidance. "
        </div>
        <div class="space-top">
          Rated 5/5 - <span class="light-text">from over 40 reviews</span>
        </div>
      </div>
    </div>
    <!-- <div class="four-column-grid space-top-extra">
      <div id="w-node-_01314b56-125a-dba9-1f0b-eb59eb812a4d-2f1baa25" data-w-id="01314b56-125a-dba9-1f0b-eb59eb812a4d"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          " class="metric">
        <h1 class="yellow-text">$4.8m</h1>
        <div>Lorem ipsum dolor sit amet, adipiscing elit.</div>
      </div>
      <div id="w-node-_01314b56-125a-dba9-1f0b-eb59eb812a52-2f1baa25" data-w-id="01314b56-125a-dba9-1f0b-eb59eb812a52"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          " class="metric">
        <h1 class="yellow-text">100%</h1>
        <div>Lorem ipsum dolor sit amet, adipiscing elit.</div>
      </div>
      <div id="w-node-_01314b56-125a-dba9-1f0b-eb59eb812a57-2f1baa25" data-w-id="01314b56-125a-dba9-1f0b-eb59eb812a57"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          " class="metric">
        <h1>#1</h1>
        <div>Lorem ipsum dolor sit amet, adipiscing elit.</div>
      </div>
      <div id="w-node-_01314b56-125a-dba9-1f0b-eb59eb812a5c-2f1baa25" data-w-id="01314b56-125a-dba9-1f0b-eb59eb812a5c"
        style="
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          " class="metric">
        <h1>99%</h1>
        <div>Lorem ipsum dolor sit amet, adipiscing elit.</div>
      </div>
    </div> -->
  </div>
  <div class="horizontal-pattern-2 space-top-extra"></div>
</div>
