<!-- whatsapp fixed button -->
<a target="_blank" href="https://wa.me/+919483378787" class="alifsensefixbtn">
  <img src="images/icons/whatsapp-chat.png" alt="whatapp chat" />
</a>
<!-- whatsapp fixed button -->
