---
const props = Astro.props;

import SEO from '../components/SEO.astro';
import { ViewTransitions } from 'astro:transitions';
import WhatsAppButton from '@components/WhatsAppButton.astro';

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
  redirect?: string;
}

const {
  title,
  description,
  siteName = 'Sierra Learning Academy',
  canonical,
  ogImage,
  ogType,
  twitterHandle,
  slug,
  redirect,
} = Astro.props as Props;
---

<html
  lang="en"
  data-wf-domain="sierralearningacademy.com"
  data-wf-page="6377a5612c8a5c1b2f1baa25"
  data-wf-site="6377a5612c8a5cdbdf1baa24"
>
  <head>
    <SEO {...{ title, description, siteName, canonical, ogImage, ogType, twitterHandle, slug }} />
    {redirect ? <meta http-equiv="refresh" content={`0; url=${redirect}`} /> : null}
    <!-- <ViewTransitions fallback="swap" /> -->
    <!-- <script src="../scripts/gsap"></script> -->

    <!-- Google Fonts -->

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/css/momo-template.webflow.7363b7adb.css" />
  </head>

  <body class="antialiased">
    <!-- Preloader -->

    <slot />
    <script is:inline src="/js/jquery-3.5.1.min.dc5e7f18c8.js"></script>
    <script is:inline src="/js/webflow.204f7c55e.js"></script>
    <script is:inline src="/js/webflow.8ba8f8644.js"></script>
    <!-- custom scripts -->
    <!-- <script is:inline src="js/scripts.js"></script> -->
  </body>
</html>
